body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.from-area{
    width: 50%;
    margin: 0 auto;
    padding: auto;
    padding-top: 20px;
}

h3{
    text-align: center;
    font-size: 40px;
    color: gray;
}

form{
    background-color: lightgray;
    margin: 0 auto;
    padding: 5px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkgray;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.submit-btn{
    text-align: center;
    color: lightcoral;
}